@model EoS.Models.IdeaCarrier.Startup


@Html.HiddenFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })

@Html.Action("DocumentList", new { startupID = Model.StartupID })

@if (ViewBag.AllowedToUploadMore == true)
{
    <div style="position: absolute;">
        <input type="submit" value="Upload your file" class="btn btn-primary" name="submitCommand" />
    </div>
}

<br />&nbsp;<br />
