@model IEnumerable<EoS.Models.IdeaCarrier.DocumentUploadViewModel>
@{
    ViewBag.Title = "Upload a document";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("UploadDocument","Startups", @*new { RedirectString = ViewBag.RedirectString},*@
        FormMethod.Post, new { enctype = "multipart/form-data", id = "Myform", @class = "" }))   /*if you use Process Bar code then use this  id = "Myform" inside*/
{
    <label for="file">Select a document:</label>
    <input type="file" name="DocFile" id="file" class="btn btn-default" required />
    <input type="hidden" name="StartupID" value="@ViewBag.StartupID" />

    <textarea rows="4" cols="50" name="Description" placeholder="Enter description here..."></textarea><br />
    <input type="submit" class="btn btn-success" value="Upload the document" />

    <br /><text>&nbsp;</text><br />
    @ViewBag.Message
}
