body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 280px;
}


/*textarea {
    max-width: *100%;
    width: auto;
}*/



                                                /* This section for Admin side bar and web Contenets */
                                        /* ****************************************************************** */
                                        /* ****************************************************************** */
                                        /* ****************************************************************** */
                                        /* ****************************************************************** */
                                        /* ****************************************************************** */
                                        /* ****************************************************************** */
                                        /* ****************************************************************** */
                                        /* ****************************************************************** */
                                        /* ****************************************************************** */

body, html {
    height: 100%;
}

/* remove outer padding */
.main .row {
    padding: 0px;
    margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
    border-radius: 0px;
}

nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main {
    padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main {
        position: absolute;
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main {
        margin-left: 200px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a {
        padding-right: 13px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    /*gives sidebar width/height*/
    nav.sidebar {
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        z-index: 8000;
        margin-bottom: 0px;
    }

        /*give sidebar 100% width;*/
        nav.sidebar li {
            width: 100%;
        }

        /* Move nav to full on mouse over*/
        nav.sidebar:hover {
            margin-left: 0px;
        }
    /*for hiden things when navbar hidden*/
    .forAnimate {
        opacity: 0;
    }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 2000px) {

    /*Allow main to be next to Nav*/
    .main {
        width: calc(100% - 200px); /*keeps 100% minus nav size*/
        margin-left: 200px;
    }

    /*Show all nav*/
    nav.sidebar {
        margin-left: 0px;
        float: left;
    }
        /*Show hidden items on nav*/
        nav.sidebar .forAnimate {
            opacity: 1;
        }
}

nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate {
    opacity: 1;
}

section {
    padding-left: 15px;
}


                                            /* End of section for Admin side bar and web Contenets */
                                            /* ****************************************************************** */
                                            /* ****************************************************************** */
                                            /* ****************************************************************** */
                                            /* ****************************************************************** */
                                            /* ****************************************************************** */
                                            /* ****************************************************************** */
                                            /* ****************************************************************** */
                                            /* ****************************************************************** */
                                            /* ****************************************************************** */
.list-group a {
    background-color: black;
    font-size: 20px;
    color: white;
}

    .list-group a:hover {
        color: #fac115;
        background-color: black;
    }

    .list-group a.active, .list-group a.active:hover {
        background-color: #d60000;
    }

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
}

hr {
    border-color: #0e51a4;
}
/*************************/
/* Make placeholders disappear*/
input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}
/* Firefox 18- */
input:focus::-moz-placeholder {
    color: transparent;
}
/* Firefox 19+ */
input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}
/* Firefox 18- */
textarea:focus::-moz-placeholder {
    color: transparent;
}
/* Firefox 19+ */
textarea:focus:-ms-input-placeholder {
    color: transparent;
}/* oldIE ;) */

/* end Stefan's additions*/
a[disabled="disabled"] {
    color: #000;
    text-decoration: none !important;
}

.row {
    margin-right: 0;
    margin-left: -15px;
}

.table {
    border-top: 2px solid #0e51a4;
    border-bottom: 2px solid #0e51a4;
}

th, tr, td {
    border-bottom: 1px solid #0e51a4;
    padding: 8px !important;
}

/*For Checkbox*/
.borderless td, .borderless th, .borderless tr {
    border: none;
}

@media print {
    a[href]:after {
        content: none /*!important*/;
    }

    a {
        color: black;
    }

    body {
        color: black;
        background-color: white;
    }
    hr {
        border: 1px solid black /*!important*/;
        background-color: black /*!important*/;
    }
}

/*For CasePrivew*/
