<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MMM" providerName="System.Data.SqlClient" connectionString=""/>
  </connectionStrings>
  <system.web>
    <customErrors defaultRedirect="http://enablers.se/"
        mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="http://enablers.se/"/>
    </customErrors>
  </system.web>
</configuration>
