@if (ViewBag.Sent == null)
{

    ViewBag.Title = "No report sent";

    <h3>
        No report has been sent (or even exists).
    </h3><br />
}
else if (ViewBag.Sent&& ViewBag.InvestorUserNames!=null)
{
    @ViewBag.Title = "Report sent";

    <h3> @*The report @ViewBag.ReportName*@
        A report has been sent each one of<br />&nbsp;<br />
        @for (int i = 0; i< ViewBag.InvestorUserNames.Length; i++)
        {
            Html.Raw(ViewBag.InvestorUserNames[i]);<br />
        }
    </h3>
}
else //Message.Sent == false
{

    ViewBag.Title = "Report not sent";

    <h2>Error !</h2> @*The report @ViewBag.ReportName*@
    <h3>The report could not be sent.</h3>
}

